{{define "about.layout" }}

{{ template "navbar" . }}
{{ template "about.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "about.content"}}

<h1>About Our Website</h1>
<p>when site visitors first land on the homepage, they’re greeted with recently uploaded pictures 
    sorted from newest ontop to oldest at the bottom and the visitors are able to comment, review
    and rate the picture and an authenticated can upload a picture and choose his favorite picture 
    from the gallery.
</p>

{{ end }}